# PYTHON BASICS

## BASIC SYNTAX

In [1]:
# PYTHON IDENTIFIERS

# Python is case-sensitive. Hence, "manpower" and "ManPower" are two different identifiers.

manpower = 1
ManPower = 2
print("manpower =",manpower," and ManPower =",ManPower)

manpower = 1  and ManPower = 2

In [2]:
# MULTI-LINE STATEMENTS

# Here, we use a '\' as a line-continuation character, in order to split a single statement over multiple lines.

a = 1
b = 2
c = 3
total = a +\
    b +\
    c
print(total)

str = "This is a \
string that has been split \
over multiple lines!"
print("str = ", str)

# Statements contained within the {}, [] and () pairs do not need a line-continuation character.
# They can be split over multiple lines without it, by default.

days = ['Mon','Tue','Wed','Thu',
        'Fri','Sat','Sun']
print(days)

6
str =  This is a string that has been split over multiple lines!
['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [ ]:
# QUOTATIONS

word = 'word'
word2 = "word2"
sentence = 'this is a sentence enclosed in single-quotes'
sentence2 = "this is a sentence enclosed in double-quotes"

# You may split a single sentence over multiple lines within a pair of triple quotes (single or double).
# Doing so will print the sentence keeping its format intact.

paragraph = '''this is a paragraph
enclosed within triple single-quotes
and spanning multiple lines'''
paragraph2 = """this is a paragraph
enclosed within triple double-quotes
and spanning multiple lines"""
print(word,"\n",word2,"\n",sentence,"\n",sentence2,"\n",paragraph,"\n",paragraph2)

In [ ]:
# COMMENTS

# This is a single-line comment

a = 100 # This is a comment written at the end of the statement
print(a)

"""
This is a multi-line statement.
It spans over multiple lines,
and will not be printed anywhere
when this block is executed!
"""

# To comment out a bunch of lines of code, highlight them and then type "Ctrl"+"/".
# You may use the same techniqe to comment out individual lines of code. However, you do not need to highlight that line.

# code line 1
# code line 2
# code line 3
# ..........

In [ ]:
# WAITING FOR THE USER

# The following code uses "input()" function to capture
# an input from the user, after providing which the program terminates its execution.

input("Enter something to exit...")

# If the input is assigned to a variable, the latter can be used later.

x = input("enter something...")
print("what you entered is :",x)

In [ ]:
# MULTIPLE STATEMENTS ON A SINGLE LINE

# One can use a semicolon (;) to combine multiple single statements onto a single line,
# thereby being able to execute all of them in the same sequence.

a = 1; b = 2; c = 3; print(a+b+c)

## VARIABLE TYPES

In [ ]:
# Python variables do not need to be explicitly declared in order to reserve
# memory space for the values to be stored into them.
# The declaration happens automatically based on the value assigned to them (run-time allocation)

counter = 100
miles = 1000.0
name = "John"

# Each of the following statements will print the value of the variable, followed by the type (or data-type) of that variable.

print(counter,"--->",type(counter))
print(miles,"--->",type(counter))
print(name,"--->",type(name))

In [ ]:
# MULTIPLE ASSIGNMENT

# Multiple variables can be assigned the same value together in a statement.

a = b = c = 100
print("The sum of a, b and c is :",a+b+c)

# Multiple variables can also be assigned individual values simultaneously and correspondingly,

x,y,z = 1,2,"john"
print("x :",x)
print("y :",y)
print("z :",z)

In [ ]:
# STANDARD DATA TYPES

# The standard data types are : 
#     Number
#     String
#     List
#     Tuple
#     Dictionary

In [ ]:
# PYTHON NUMBERS

# Use the '=' operator to assign values to a variable

print("Assigning numeric values to variables...")
v1 = 1
v2 = 10
v3 = 100
print("v1 =",v1,", v2 =",v2,", v3 =",v3)

# You can delete the reference to a number object by using the 'del' statement.

print("\nDeleting the numeric variables...")
del v1, v2
del v3
print(v1,v2,v3)

In [ ]:
# Python support 3 different numeric types:
    # int (signed integers)
    # float (floating point real values)
    # complex (complex numbers)

In [ ]:
# PYTHON STRINGS

# Strings are a contiguous set of characters enclosed within quotation marks (single/double).
# Python allows the usage of both single and double quotes to enclose strings.
# Subsets of strings can be extracted using the slice operator ([] and [:])
# Indexes in a string begin from 0 and end at (n-1) while traversing from left to right.
# Indexes also begin from -1 and end at -n while traversing from right to left.
# + --> string concatentaion operator
# * --> string repetition operator

str = "Hello World!"
print(str,'--->',type(str))
print(str[-1])
print(str[-6])
print(str[-6:-1])
print(str[-6:])
print(str[0])
print(str[2:5])
print(str[2:])
print(str * 2)
print(str + "TEST")

In [ ]:
# PYTHON LISTS

# A list contains items separated by commas and enclosed within square brackets ([]).
# Lists are mutable (read-write).
# Lists are heterogenous.
# Strings may also be treated as a list of characters.
# The same operations apply to strings as well as lists.

list = ['abcd',786,2.23,"john",70.2]
tinylist = [123,"john"]

print(list,'--->',type(list))
print(tinylist)
print(list[1:3])
print(list[2:])
print(tinylist * 2,"--->",type(tinylist * 2))
print(list + tinylist,"--->",type(list + tinylist))

In [ ]:
# PYTHON TUPLES

# A tuple contains items separated by commas and enclosed within parentheses (()).
# Tuples are immutable (read-only).
# Tuples are heterogenous.

tuple = ('abcd',786,2.23,'john',700.2)
tinytuple = (123,'john')

print(tuple,'--->',type(tuple))
print(tuple[0])
print(tuple[-1])
print(tuple[-3])
print(tuple[1:3])
print(tuple[2:])
print(tinytuple * 2,"--->",type(tinytuple * 2))
print(tuple + tinytuple,"--->",type(tuple + tinytuple))

# The following code will demonstrate the immutability of a tuple, as compared to a list.
# N.B. : Uncomment the commented lines below in order to see the demonstration and the resulting errors.

tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
# tuple[2] = 1000
list[2] = 1000
# print("Modified tuple is :", tuple)
print("Modified list is :", list)

In [ ]:
# PYTHON DICTIONARY

# A dictionary is a list of key-value pairs separated by commas and enclosed within curly brackets ({}).
# Dictionaries are a kind of hash-table type.
# The individual values can be accessed by referencing their respective/corresponding keys using the [] brackets.
# keys() method : fetches the keys constituting the dictionary.
# values() method : fetches the values of all the keys constituting the dictionary.
# Dictionary elements are simply unordered, as they are not arranged in any specific order inside the dictionary itself.

dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"
tinydict = {'name':'john','code':6734,'dept':'sales'}

print(dict,'--->',type(dict))
print(tinydict)
print(dict['one'])
# print(dict['two'])
print(dict[2])
print(tinydict.keys())
print(tinydict.values())

## BASIC OPERATORS

In [ ]:
# TYPES OF OPERATORS

# Arithmetic
# Comparison/Relational
# Assignments
# Logical
# Bitwise
# Membership
# Identity

In [ ]:
# ARITHMETIC OPERATORS

a = 10
b = 21
print("a =",a,", b =",b)
print('a+b =',a+b)
print('a-b =',a-b)
print('b-a =',b-a)
print('a*b =',a*b)
print('b/a =',b/a)
print('b%a = ',b%a)
print('a**b =',a**b)
print('b//a =',b//a)

In [ ]:
# PYTHON COMARISON OPERATORS

## DECISION-MAKING

In [ ]:
# Python assumes any non-zero and non-null values as TRUE, and any zero or null values as FALSE.
# Python provides the following types of decision-making statements:
    # if
    # if...else
    # if...elif...else
    # nested if

# =====================
# if Statement
# =====================

var1 = 100
if var1:
    print("1 - Got a true expression value!")
    print(var1)
print("####################################################")
    
var2 = 0
if var2:
    print("2 - Got a true expression value!")
    print(var2)
print("Block not executed. Value was false!")
print("####################################################")

# =====================
# if...else Statement
# =====================

amount = int(input("Enter amount:"))

if amount < 1000:
    discount = amount * 0.05
    print("Discount :",discount)
else:
    discount = amount* 0.10
    print("Discount :",discount)
print("Net payable :", amount - discount)
print("####################################################")

# =============================
# if...elif...else Statement
# =============================

amount = int(input("Enter amount:"))

if amount < 1000:
    discount = amount * 0.05
    print("Discount :",discount)
elif amount < 5000:
    discount = amount * 0.10
    print("Discount :",discount)
elif amount < 10000:
    discount = amount * 0.20
    print("Discount :",discount)
else:
    discount = amount * 0.40
    print("Discount :",discount)

print("Net payable :", amount - discount)
print("####################################################")

# =============================
# Nested "if" Statement
# =============================

num = int(input("Enter a number:"))

if num%2 == 0:
    if num%3 == 0:
        print("The number is divisible by 2 and 3!")
    else:
        print("The number is divisible by 2 but not 3!")
else:
    if num%3 == 0:
        print("The number is divisible by 3 ONLY!")
    else:
        print("The number is divisible neither by 2 nor by 3!")
print("####################################################")

# =============================
# One-line "if" clause
# =============================

# This does not apply if an "if" statement has an accompanying "else" clause.

var = 100
if (var == 100): print("The value is 100!")
print("Good Bye!")

## LOOPS

Loop structures in Python :

1. "while" loop
2. "for" loop
3. nested loops

In [1]:
# ===========================================
# "while" Loop
# ===========================================

count = 0
while (count < 9):
    print("The count is :",count)
    count += 1
print("Good bye!")
print("####################################################")

# ===========================================
# Using "else" statement with "while" loop
# ===========================================

# Adding an "else" clause to the "while" loop allows for a graceful exit from the loop.

count = 0
while (count < 5):
    print("The count is :",count)
    count += 1
else:
    print("We have left the loop now! The count is:",count)

print("####################################################")

# ===========================================
# Single-line "while" statement
# ===========================================

name = ''
while(name): print("Name is good!")
print("EXIT NOW!")
print("####################################################")

# The following code block causes execution to go into a loop, hence it has been commented out.
# If you execute it, you will need to go to the option Kernel --> Restart & Clear Output in the menu.

# flag = 1
# while(flag): print("Flag is true!")
# else:
#     print("Flag false!")

The count is : 0
The count is : 1
The count is : 2
The count is : 3
The count is : 4
The count is : 5
The count is : 6
The count is : 7
The count is : 8
Good bye!
####################################################
The count is : 0
The count is : 1
The count is : 2
The count is : 3
The count is : 4
We have left the loop now! The count is: 5
####################################################
EXIT NOW!
####################################################

In [5]:
# ===========================================
# "for" Loop
# ===========================================

# The "for" statement has the ability to iterate over the items of any sequence, such as a list or string.
# The "range()" function allows the iterating variable to iterate over a sequence of numbers.
# The "range()" function generates an iterator of arithmetic progressions.

print(range(5))
print(type(range(5)))

x = range(5)
print(x)
print(type(x))

list(range(0,5))
print(type(list(range(0,5))))

'''
for var in list(range(0,5)):
    print(var)
'''

for letter in 'Python':
    print("Current letter :", letter)
print("####################################################")

fruits = ['banana','apple','mango']
for fruit in fruits:
    print("Current fruit :", fruit)
print("Good bye!")
print("####################################################")

# Iterating by sequence index

fruits = ['banana','apple','mango']
for index in range(len(fruits)):
    print("Current fruit :", fruits[index])
print("Good bye!")

# Using "else" statement with "for" loop

numbers = [11,33,55,39,55,22,75,37,44,21,23,41,13]

for num in numbers:
    if num%2 == 0:
        print("The list contains an even number! -->",num)
        break
else:
    print("The list does not contain even numbers!")

# Nested Loop

range(0, 5)
<class 'range'>
range(0, 5)
<class 'range'>
<class 'list'>
Current letter : P
Current letter : y
Current letter : t
Current letter : h
Current letter : o
Current letter : n
####################################################
Current fruit : banana
Current fruit : apple
Current fruit : mango
Good bye!
####################################################
Current fruit : banana
Current fruit : apple
Current fruit : mango
Good bye!
The list contains an even number! --> 22

## NUMBERS

In [6]:
# Number data types store numeric values
# Number data types are immutable, i.e., changing the value of a number data type results in a newly allocated object.

# ===========================================
# "del" statement
# ===========================================

var1 = 10
var2 = 20
var3 = 30
print("var1 :",var1,", var2 :",var2," and var3 :",var3)
del var1
del var2, var3
print("var1 :",var1,", var2 :",var2," and var3 :",var3)

var1 : 10 , var2 : 20  and var3 : 30

NameError: name 'var1' is not defined

Python supports 3 different numerical data types:
    
- int (signed integers)
    - Python 3 does not have any "long int" anymore. It is simply "int".
- float (floating point real values)
    - Float values can be written in decimal format or exponential format.
- complex (complex numbers)
    - They are of the form (a+ib), where a and b are float values, and i is the square root of -1.
    - a is the real part, and b is the imaginary part.

In [13]:
number = 0xA0F # representing a number in hexadecimal format, where the prefix is "0x"
print(number)  # the number will be printed in decimal format and equivalent value

number = 0o37 # representing a number in hexadecimal format, where the prefix is "0o"
print(number) # the number will be printed in decimal format and equivalent value

number = 0b0101010110011101101010010110 # representing a number in binary format, where the prefix is "0b"
print(number)                           # the number will be printed in decimal format and equivalent value

2575
31
89774742